.auth_form {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
}

.auth_btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding-top: 6px;
  background: white;
  color: var(--primary-color);
  font-weight: 600;
}

.form_group input{
    outline: none;
    border: 1px solid var(--primary-color );
    padding: 5px;
    border-radius: 5px;
}

.form_group input[type="file"]{
    color: white;
}